
@{
    ViewData["Title"] = "AddUser";
    Layout = null;
}

<h1>AddUser</h1>
<div class="">
    <form action="AddUser" method="post" >
        <input type="text" name="email" placeholder="Enter the email" />
    </form>
</div>
