@model IEnumerable<UniQR2.Models.User>
@{
    ViewData["Title"] = "Instructor List";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addUserModal">
    Add new instructor
</button>

<form class="form-inline float-right" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<br clear="all" />
<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#.</th>
            <th>İsim</th>
            <th>Mail</th>
            <th>Role</th>
            <th>İşlem</th>
        </tr>
    </thead>

    <tbody>
        @{
            int counter = 0;
        }
        @foreach (var item in Model)
        {
            counter++;
            <tr>
                <td style="width:6%">@counter.</td>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@item.UserRole</td>
                <td>Butonlar</td>
            </tr>
        }
    </tbody>
</table>

@* rendering add user popup content *@

@await Component.InvokeAsync("AddUser")
