@model UniQR2.Models.File

@{
    ViewData["Title"] = "Files";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<form asp-controller="MyClasses" asp-action="Files" method="post" enctype="multipart/form-data">

    <div>
        <input type="hidden" name="CourseClassroomId" value="@ViewBag.courseId" />
        <input type="file" name="file" class="button" />
        <br />
        <br />

        <input type="submit" value="Gönder" class="button" />
    </div>

    @if (TempData != null)
    {
        @TempData["result"]
    }

</form>

<br />

