 <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/img/aybu.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">UniQR</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/img/avatar2.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">User1</a>
            </div>
        </div>

        <!-- Sidebar Menu -->

        <ul class="nav  nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">

                <ul class="nav nav-item col-md-12">
                    <li class="nav-item">
                        <a href="~/home/index" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Home</p>
                        </a>
                    </li>

                    <li class="nav nav-item col-md-12">
                        <a href="~/home/privacy" class="nav-link active">
                            <i class="far fa-circle nav-icon"> </i>
                            <p>Privacy</p>

                        </a>
                    </li>
                   <li class="nav-item">
                        <a href="~/account/register" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sign-Up</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="~/account/login" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Login</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/account/logout" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a href="~/account/ChangePasswordRequest" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>ChangePassword</p>
                        </a>
                    </li>*@
                    @*<li class="nav-item">
                        <a href="~/course/index" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Courses</p>
                        </a>
                    </li>*@
                    @*<li class="nav-item">
                        <a href="~/classroom/index" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Classrooms</p>
                        </a>
                    </li>*@
                </ul>
            </li>

        </ul>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
